"*":
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
      "@todo"
    ]
    ignoreThesePaths: [
      "*.pdf"
      "*.bib"
      "output/*"
    ]
    showInTable: [
      "Type"
      # "Line"
      "Text"
      # "Tags"
      # "Path"
    ]
    sortBy: "Line"
    statusBarIndicator: true
  "document-outline":
    defaultSide: "left"
    maxHeadingDepth: 5
    showByDefault: false
